/bin
/lib/mysql-connector-java-5.1.39/README
/lib/mysql-connector-java-5.1.39/README.txt
/lib/mysql-connector-java-5.1.39/docs
/lib/mysql-connector-java-5.1.39/src
/lib/mysql-connector-java-5.1.39/build.xml
/lib/mysql-connector-java-5.1.39/CHANGES
/lib/mysql-connector-java-5.1.39/COPYING
